.header{
    position: relative;
    z-index: 1030;
    height: 50px;
    display: flex;
    flex-direction: row;
    position: fixed;
    pointer-events: none;
    padding-top: calc(60px / 1.5);
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}
.header-container{
    padding-left: 0;
    padding-right: 0;
    position: relative;
    z-index: 501;
    pointer-events: none;
    word-break: keep-all;
    box-sizing: border-box;
    align-items: center !important;
    justify-content: space-between !important;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(0rem * -1);
    margin-right: calc(1.5rem / -2);
    margin-left: calc(1.5rem / -2);
    
}
.header-section{
    height: 50px;
    width: 33.33333333%;
    background-color: #fefefe;
    display: block !important;
    text-align: center !important;
}