.the-witness-arival{
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}
.the-witness-arival-video{
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    object-fit: cover;
    overflow: hidden;
}